<div class= "col-12 d-flex justify-content-center">
  <h2 class="title my-5"> Booking Dashboard </h2>
  </div>
    <div class="d-flex justify-content-between">
      <div class= "col-6 d-flex justify-content-center">
        <h1>toto</h1>
      </div>
    <div class= "col-6 d-flex justify-content-center">
      data-markers="<%= @markers.to_json %>"
      </div>
    </div>
