    <div class="d-flex justify-content-between">
      <div class= "col-6 d-flex justify-content-center">
        <p> toto </p>
      </div>
     <div id="map"class= "col-6">
      <img  src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png' style="
    width: 100%">
      </div>
    </div>