#card-dashboard {
  position: sticky;
  width: 100%;
  height: calc(100vh);
  top: 0px;
}

.card-dashboard {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 339px;
  border-radius: 15px;
  margin-top: 15px;
  &:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
  }
}


.card-dashboard3 {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  height: 361px;
  border-radius: 5px;

  &:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
  }
}

.card-dashboard2 {
  width: 392px;
  align-items: center;
  border-radius: 12px;
}

.card-dashboard h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: -9px;
  margin-right: 8px;
}

.card-dashboard3 h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: -9px;
  margin-right: 8px;
}


.card-dashboard p {
  font-size: 16px;
  margin: 0;
  color: black;
}

.card-dashboard3 p {
  font-size: 1rem;
  margin: 0;
}

.card-dashboard .card-dashboard-infos {
  padding: 16px;
  display: inline;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  &:hover{
    text-decoration: none !important;
  }
}

.dashboard-hover:hover {
    text-decoration: none !important;
}

.cards-dashboard {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.icon-dashboard {
  font-size: 40px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.icon-dashboard {
  font-size: 40px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.h1-dashboard {
margin-top: 34px;
margin-bottom: 27px;
font-size: 18px;
justify-content: center;
}


.image-dashboard {
  width: 465px;
  height: 191px;
  object-fit: cover;
}

.card-office-pricing {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  color: black;
}


.office-prices {
  display: flex;
  justify-content: flex-end;
  color: black;
}

.myoffice-prices {
  display: flex;
  justify-content: flex-end;
  margin-left: 350px;
  font-size: 14px;
}

.nav-tabs {
background-color: #2645EC;
height: 100px;
}

.nav-link {
  display: block;
  padding: 0.5rem 3rem;
  color: white;
}

.text-dash-top {
  margin-inline: 25px;
  margin-bottom: 34px;
  font-size: 20px;
}

.text-infos {
  margin-left: 15px;
  margin-top: 15px;
  height: 110px;
}

img.trash_celia {
  margin-top: 20px;
}

.trash-price {
  justify-content: space-between;
}
