#card-dashboard {
 position: sticky;
 width: 100%;
 height: calc(100vh);
 top: 0px;
}

.card-dashboard {
  overflow: hidden;
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #e3e3e3;
  border-radius: 5px;
  background-color: white;
}


.card-dashboard h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-dashboard p {
  font-size: 12px;
  margin: 0;
  color: black;
}

.card-dashboard .card-dashboard-infos {
  width: 380px;
  height: 170px;
  padding: 16px;
  &:hover{
    text-decoration: none !important;
  }
}

.dashboard-hover:hover{
    text-decoration: none !important;
}

.content-dashboard {
  display: flex;
}
.cards-dashboard {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.icon-dashboard{
  font-size: 40px;
  color: $blue;
  margin-left: 40px;
  margin-right: 40px;
}

.h1-dashboard{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  justify-content: center;
}

.image-dashboard {
  width: 465px;
  height: 202px;
  object-fit: cover;
}

.myoffice-prices {
  display: flex;
  justify-content: flex-end;
  margin-left: 350px;
  font-size: 14px;
}

.nav-tabs {
  background-color: aliceblue;
}

.card-dashboard h3 {
  font-size: 16px;
  font-weight: bold;
}