#card-dashboard {
 position: sticky;
 width: 100%;
 height: calc(100vh);
 top: 0px;
}

.card-dashboard {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
  }
}

.card-dashboard > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-dashboard h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.card-dashboard p {
  font-size: 1rem;
  opacity: .7;
  margin: 0;
}


.card-dashboard .card-dashboard-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  &:hover{
    text-decoration: none !important;
  }
}

.dashboard-hover:hover{
    text-decoration: none !important;
}

.content-dashboard {
  display: flex;
}
.cards-dashboard {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
