.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 96.75px);
  display: flex;
  align-items: center;
}

.banner h1 {
  margin: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
}

.banner p {
  font-size: 36px;
  color: white;
}

.search-bar{
  border-radius: 12px;
  background-color: rgba(177, 174, 174, 0.7);
  margin-left: 80px;
}

.form-control{
  display: flexbox;
  height: 35px;
  border-radius: 6px;
  padding: 8px;
  opacity: 1;
  color: rgba(0, 0, 0, 0.8);
}

.container-login {
  margin-left: 452px;
}

.icon-show {
  height: 20px;
}

.image-offices {
  vertical-align: middle;
  border-style: none;
  width: 240px;
}

.form-control-home {
  width: 300px;
  border-radius: 5px;
  height: 40px;
  border-style:none;
}

.form-css {
  font-size: 14px;
}

.footer {
  background: transparent;
  text-align: right;
  padding: 0px 50px;
  color: rgba(0,0,0,0.35);
}
