.banner {
  background-size: cover;
  background-position: center;
  padding: 400px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.search_home {
  background-color: white;
  opacity: 45%;

}

.banner-title {
  display: flex;
  width: 61vw;
  align-items: flex-start;
  flex-direction: column;
}

.btn-search-home {
  display: flex;

}

.btn-search-home{
  display: flex;
}
