.card-office {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.card-office > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-office h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.card-office p {
  font-size: 1rem;
  opacity: .7;
  margin: 0;
}


.card-office .card-office-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
