.card-office {
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #e3e3e3;
  width: 95%;
  border-radius: 5px;
  background-color: white;
  margin-top: 15px;
}

.image-offices {
  width: 235px;
  height: 180px;
}

.card-office h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.card-office h3 {
  font-size: 1rem;
  font-weight: normal;
  text-align: right;
}

.card-office p {
  font-size: 0.9rem;
  margin: 0;
}

.card-office .card-office-infos {
  padding: 16px;
  width: 485px;
  height: 150px;
}

.text-style-show {
  margin-top: 50px;
  max-width: 400px;
  line-height: 3;
  border-bottom: ridge;
}

.card-text {
  margin-left: 15px;
}

.text-style-show h6 {
  font-size: 18px;
}

.title-office {
  text-align: center;
  margin-bottom: 40px;
  // text-transform: uppercase;
  -webkit-text-stroke: thin;
}

.index-offices-empty-message{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 36px;
}

.go-back{
  position: relative;
  display: flex;
  margin-top: 100px;
  font-size: 24px;
  width: 200px;
  height: fit-content;
  border-radius: 8px;
  align-items: center;
}

.trash-celia {
  height: 20px;
}

