 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/drojktwel/image/upload/v1624057371/iStock-959157574-1920x1080_olmteg.jpg);">

  <div class="container d-flex justify-content-between">
    <div class="pr-10">
      <h1 class="text-home"> Send your projects to the space </h1>
    </div>

    <div class="col-12 col-sm-4 search-bar">
      <div class="card-body">
        <p class="text-left"><%= "Search on Apolo" %></p>
        <%= form_tag offices_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control-home",
            placeholder: "  Let's find a place!"%>

        <%= submit_tag "Start", class: "btn-blue-home" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


