<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dv6ax1ttq/image/upload/e_contrast:0/v1621267552/bg_img_home_emdfsj.jpg);">

  <div class="container">
    <div class="row justify-content-center banner-title">
      <h1>the charming office<strong> does not exist</strong> then : <strong>try Working Free</strong>!</h1>
        <p>Mobile workers, find your workstation of the day</p>
    </div>
  </div>

  <div class="search-home">

    <div class="btn-search-home">
      <a class="btn btn-success" href="#">Find your workstation</a>
    </div>
  </div>



</div>
