.btn-flat {
  color: white;
  padding: 8px 6px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}

.btn-blue {
  background: #2645EC;
  color: white;
  width: 130px;
  height: 35px;
  border-radius: 6px;
&:hover {
  background: lightgray;
}
}

.btn-blue-show {
  background: #2645EC;
  color: white;
  width: 311px;
  height: 42px;
  border-radius: 6px;
&:hover {
  background: lightgray;
}
}

.btn-blue-new-office {
  background: #2645EC;
  color: white;
  width: 506px;
  height: 44px;
  border-radius: 6px;
  margin-top: 25px;
&:hover {
  background: lightgray;
}
}

.btn-blue-home {
  background: #2645EC;
  color: white;
  width: 300px;
  height: 44px;
  border-radius: 6px;
  margin-top: 40px;
  border-style: unset;
&:hover {
  background: lightgray;
}
}

.btn-signup2 {
  background:#2645EC;
  color: white;
  width: 87px;
  height: 44px;
  border-radius: 6px;
  width: 396px;
  margin-bottom: 30px;
&:hover {
  background:lightgrey;
}
}

.btn-signup3 {

  color:black;
  width: 87px;
  height: 44px;
  border-radius: 6px;
  width: 396px;
  margin-bottom: 30px;
&:hover {
  background:#2645EC;
}
}


.btn-signup4 {
  background:transparent;
  border-color: black;
  color: black;
  width: 396px;
  height: 44px;
  border-radius: 6px;
  margin-bottom: 30px;
&:hover {
   background: #2645EC;
}
}

.btn-signup4-home {
  background: transparent;
    border-color: black;
    color: black;
    width: 87px;
    height: 38px;
    border-radius: 6px;

    font-size: 18px;
    text-align: center;
}

.btn-signup5 {
  background:#2645EC;
  color: white;
  height: 44px;
  border-radius: 6px;
  width: 396px;
  margin-bottom: 30px;
  margin-top: 30px;
&:hover {
  background:lightgrey;
}
}
