.cards {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-office {
  color:black;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-left: 30px;
  display: flex;
}

.card-show {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-office-infos p {
 font-size: 0.8rem;
}

.card-show-office {

  overflow: hidden;
  height: 470px;
  width: 419px;
  background: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
  margin-right: 110px;
  margin-top: 43px;
}

.card-show-office1 {
  overflow: hidden;
  height: 461px;
  width: 843px;
  background: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
  margin-left: 116px;

}

.card-list h6 {
  text-align: justify;
}

.card-list .card-product-infos {
  padding: 16px;
}

.card-dashboard {
  height: 375px;

  color:black;

  align-items: center;
  border-radius: 12px;
  margin-bottom: 10px;
}

.flex-box-office-show {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 150px;
  margin-top: 50px;
}


.image {
  margin-top: 5px;
  width: 603px;
  height: 349px;
  margin-left: 250px;
  border: mediumblue;
  border-radius: 10px;
object-fit: cover;
}

.index-noresult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
